@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var myPurchases = (List<MyPurchase>)ViewData["MyPurchases"];
    var summariseMyPurchases = (List<SummariseMyPurchase>)ViewData["SummariseMyPurchases"];
}

<style>
    div.container4 {
        height: 10em;
        position: relative
    }

        div.container4 p {
            margin: 0;
            background: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    .btn {
        background: white;
    }
</style>

@if (ViewData["MyPurchases"] == null)
{
    <div class="btn">Empty Cart</div>
}
else
{
    <div>

        @foreach (var summariseMyPurchase in summariseMyPurchases)
        {

            <div>Name: @summariseMyPurchase.ProductName</div>
            <div>Purchased on: @summariseMyPurchase.Timestamp</div>
            <div>Amount @summariseMyPurchase.Quantity</div>

            <select>
                @foreach (var myPurchase in myPurchases)
                {
                    @if (myPurchase.ProductName == summariseMyPurchase.ProductName && myPurchase.TimeStamp == summariseMyPurchase.Timestamp)
                    {
                        <option>@myPurchase.ActivationCode</option>
                    }
                }
            </select>


        }
    </div>
}
