@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using  ASP_CA.Controllers
@{
    var viewcart = (List<CartProduct>)ViewData["ViewCart"];
}
<style>
    table, th, tr {
        border: 1px solid black;
    }

    .btn {
        background: white;
    }
</style>

<div>Total Price: $@ViewData["AllTotalPrice"]</div>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total Price
        </th>
    </tr>
    @foreach (var product in viewcart)
    {
        <tr>
            <th>@product.ProductName</th>
            <th>$@product.ProductPrice</th>
            <th>@product.ProductQuantity</th>
            <th>$@product.ProductTotal</th>
            <th>
                <form id="form" action="/Cart/PlusOne" method="post">
                <input type="hidden" name="productId" value="@product.ProductId" />
                <input class="btn" type="submit" value="+" />
                </form>
            </th>
        </tr>
    }
</table>

