
@{
    ViewData["Title"] = "PurchaseInfo";
    string orderid = (string) ViewData["orderid"];
    string userid = (string) ViewData["userid"];
    int[] products = (int[])ViewData["productId"];

    List<string> productids = (List<string>)ViewData["products"];

}

<h1>PurchaseInfo</h1>

<table>
    <tr>
        <td>Order Id: </td>
        <td>@orderid</td>
    </tr>
    <tr>
        <td>User Id:</td>
        <td>@userid</td>
    </tr>

    <tr>
        <td>Product Id: </td>

        @foreach (string id in productids)
        {
            <td>@id </td>
        }

    </tr>

</table>
