
@{
    ViewData["Title"] = "Index";
    string error = (string)ViewData["error"];
}

@{
    var products = (List<Product>)ViewData["products"];
}


<a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Click">Name</a>

<form id="form" action="/MyPurchases/PurchaseInformation" method="post">

    @if (ViewData["products"] != null)
    {
        <table align="center" border="1">
            <tr>

                <th>Name</th>

            </tr>

            @foreach (var product in products)
            {
                <tr>

                    <td>
                        <input type="checkbox" name="product" value="@product.ProductId" />@product.ProductId, @product.ProductName
                    </td>

                </tr>
            }

            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
        <p> </p>

        <p align="center" style="font-weight:bold;font-size:12px;color:red">@error</p>
    }

</form>