
@{
    ViewData["Title"] = "Index";
}

@{
    var products = (List<Product>)ViewData["products"];
}


<a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Click">Name</a>

<table align="center" border="1">
    <tr>

        <th>Name</th>

    </tr>

    @foreach (var product in products)
    {
        <tr>

            <td>@product.ProductName</td>

        </tr>
    }
</table>

@if (ViewData["quantity"] == null)
{
    <div>0</div>
}
else
{
    <div>@ViewData["quantity"]</div>
}

