@model ASP_CA.Models.Click
@using  ASP_CA.Controllers
@{
    ViewData["Title"] = "Index";
    var products = (List<Product>)ViewData["products"];
}
<div>Cart</div>
@if (ViewData["quantity"] == null)
{
    <div>0</div>
}
else
{
    <div>@ViewData["quantity"]</div>
}

<div class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Delete">ClearCart</a>
</div>
@foreach (var product in products)
{
    <form id="form" action="/Gallery/Click" method="post">
        <input type="text" name="productId" value="@product.ProductId" />
        <input type="submit" value="Add To cart" />
    </form>
}






