@model ASP_CA.Models.Click
@using  ASP_CA.Controllers
@{
    ViewData["Title"] = "Index";
    var products = (List<Product>)ViewData["products"];
}

<form id="form" action="/Gallery/Click" method="post">
    <input type="hidden" name="productId" value="Add To cart1" />
    <input type="submit" value="Add To cart" />
</form>


    @foreach (var product in products)
    {
        <div>@product.ProductName</div>

    }


    @if (ViewData["quantity"] == null)
    {
        <div>0</div>
    }
    else
    {
        <div>@ViewData["quantity"]</div>
    }



