@{
    ViewData["Title"] = "Log in Page";
}

@section Scripts
{
    <script src="~/js/login/index.js"></script>
}

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }
</style>

<p></p>

<form id="form" action="/Login/Authenticate" method="post">
    <table align="center">
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input id="username" name="username"
                       class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input id="password" name="password"
                       type="password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="submit" type="submit" class="btn btn-success" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div id="err_msg">@ViewData["errMsg"]</div>
            </td>
        </tr>
    </table>
</form>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
