
@{
    ViewData["Title"] = "Index";
    string userid = (string) ViewData["userid"];
}

<h1>Cart</h1>
<p>@userid</p>

<form id="cart" action="/Cart/PurchaseInformation" method="POST">
    <table align="center">
        <tr>
            <td colspan="3" align="left">
                <p id="userid" name="userid">@userid</p>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="product1" name="product"/>Product 1
            </td>
            <td>
                <input type="checkbox" id="product2" name="product"/>Product 2
            </td>
            <td>
                <input type="checkbox" id="product3" name="product"/>Product 3
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="product4" name="product"/>Product 4
            </td>
            <td>
                <input type="checkbox" id="product5" name="product"/>Product 5
            </td>
            <td>
                <input type="checkbox" id="product6" name="product"/>Product 6
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" id="product7" name="product"/>Product 7
            </td>
            <td>
                <input type="checkbox" id="product8" name="product"/>Product 8
            </td>
            <td>
                <input type="checkbox" id="product9" name="product"/>Product 9
            </td>
        </tr>

        <tr>
            <td colspan="3" align="center"><input type="submit" value="Submit"/></td>
        </tr>
    </table>

    
</form>

